@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

:root{

    /*--------------
         COLORS 
    ----------------*/

    /* Neutral*/
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --White: hsl(0, 0%, 100%);

    --Grayish-Blue-25: hsla(212, 23%, 69%, 0.25);

    /*--------------
         FONTS 
    ----------------*/

    --text-bold-20: normal normal 700 20px/140% 'Manrope';
    --text-medium-13: normal normal 500 13px/150% 'Manrope';
    --text-bold-13: normal normal 700 13px/150% 'Manrope';

    --text-bold-16: normal normal 700 16px/140% 'Manrope';

    /*--------------
         SPACING 
    ----------------*/
    --size-20: 20px;
    --size-16: 16px;
    --size-12: 12px;

    /*--------------
         RADIUS 
    ----------------*/
    --border-10: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, .wrapper {  
    height: 100%;   
    margin: 0;  
}  

.wrapper {  
    display: flex;   
    flex-direction: column;   
}  
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 720px;
    background-color: var(--Light-Grayish-Blue);
    color: var(--Desaturated-Dark-Blue);
    font: var(--text-medium-13);
    letter-spacing: 0.1px;
    overflow: hidden;
}
.card{
    display: flex;
    width: 730px;
    height: 280px;
    margin: 8rem 0;
    background-color: var(--White);
    border-radius: var(--border-10);
    z-index: 99;
    box-shadow: 8px 16px 40px 0px var(--Grayish-Blue-25);
}
.img__container{
    width: 285px;
    display: flex;
    overflow: hidden;
    border-top-left-radius: var(--border-10);
    border-bottom-left-radius: var(--border-10);
}
.article__image{
    height: 100%;
}
.card__content{
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: var(--size-20);
    padding: 32px 40px;
}
.article__text{
    display: flex;
    flex-direction: column;
    row-gap: var(--size-12);
}
.title{
    font: var(--text-bold-20);
    color: var(--Very-Dark-Grayish-Blue);
}
.author__share{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author__container{
    display: flex;
    visibility: visible;
    align-items: center;
    column-gap: var(--size-16);
}
.author__container.visibility{
    visibility: visible;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font: var(--text-bold-13);
    letter-spacing: 0.1px;
    color: var(--Very-Dark-Grayish-Blue);
}
.share__button{
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
}
.share__button:hover{
    cursor: pointer;
}
.popup{
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 55px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 0 36px;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: var(--border-10);
    box-shadow: 8px 16px 40px 0px var(--Grayish-Blue-25);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.popup.visible {  
    visibility: visible;
    opacity: 1;
} 
.popup__arrow{
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 10px;
    height: 8px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 16px solid var(--Very-Dark-Grayish-Blue);
    transform: translate(-50%, 100%);
}
.popup__text{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--Grayish-Blue);
}
.social__icons{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.attribution {   
    font-family: 'Manrope';  
    font-size: 12px;   
    font-weight: 400;  
    line-height: 150%;  
    text-align: center;   
    background-color: var(--Light-Grayish-Blue);   
    padding: 1rem 0;   
    position: relative;   
}  

.attribution a {   
    text-decoration: none;  
    font-weight: 900;  
    color: var(--Very-Dark-Grayish-Blue);  
}  

::-webkit-scrollbar {  
    display: none;  
}  

@media screen and (max-width: 576px) {  
    .content{
        padding: 1.3rem;
        height: auto;
    }
    .card{
        flex-direction: column;
        gap: 40px;
        height: auto;
        overflow: hidden;
    }
    .card__content{
        padding: 0;
    }
    .img__container{
        width: 100%;
        height: auto;
        border-radius: 0;
        border-top-left-radius: var(--border-10);
        border-top-right-radius: var(--border-10);
    }
    .article__image{
        width: 100%;
    }
    .article__text{
        row-gap: var(--size-12);
        padding: 0 30px;
    }
    .title{
        font: var(--text-bold-16);
        color: var(--Very-Dark-Grayish-Blue);
    }
    .author__share{
        padding: 20px 30px;
        position: relative;
    }
    .author__container{
        visibility: visible;
    }
    .author__container.visibility{
        visibility: hidden;
    }
    .share__button{
        position: static;
    }
    .popup{
        visibility: hidden;
        box-sizing: content-box;
        opacity: 0;
        width: 100%;
        padding: 20px;
        height: 40px;
        left: 0;
        bottom: 0;
        transform: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        z-index: -1;
}
    .popup__arrow{
        display: none;
    }
}