@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-VariableFont_wght.ttf');
}

:root{
    
    /* Primary Color */
    --orange: hsl(25, 97%, 53%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(215, 21%, 16%);
    --very-dark-blue: hsl(216, 12%, 8%);

    --dark-grey: hsl(210, 19%, 18%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper{
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass';
}
.card{
    background-color: var(--dark-blue);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.25rem;
    border-radius: 28px;
    color: var(--white);
    font-size: 15px;
}
.icon__container{
    width: fit-content;
    padding: 1rem;
    background-color: var(--dark-grey);
    border-radius: 50%;
}
.icon{
    display: block;
    width: 1rem;
    aspect-ratio: 1/1;
}
.card__title{
    margin-top: 2rem;
    font-size: 1.85rem;
    font-weight: 700;
}
.description{
    margin-top: 0.6rem;
    line-height: 1.6rem;
    color: var(--light-grey);
}
.rating{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating .rating__item{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    border-radius: 50%;
}
.rating .rating__item:hover{
    background-color: var(--orange);
    color: var(--dark-blue);
}
input[type="radio"] {  
    display: none;
} 
input[type="radio"]:checked + label {  /* Use the + combinator to select the label tag after checked radio*/  
    background-color:var(--white);
    color: var(--dark-blue);
}
a.button{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--orange);
    color: var(--dark-blue);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    margin-top: 1.8rem;
    line-height: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1rem;
    border-radius: 50px;
}
a.button:hover{
    background-color: var(--white);
    color: var(--dark-blue);
}
.selected{
    background-color: var(--white)!important;
    color: var(--dark-blue);
}
#thanku__container {
    flex-direction: column;
    align-items: center;
}
#thanku__container .description{
    text-align: center;
}
#thanku__container .badge{
    background-color: var(--dark-grey);
    color: var(--orange);
    font-size: 0.8rem;
    padding: 6px 16px;
    margin-top: 2rem;
    border-radius: 20px;
}
.attribution {   
    font-family: 'Figtree';  
    font-size: 12px;   
    font-weight: 500;  
    line-height: 150%;  
    text-align: center;   
    color: white;
    background-color: var(--very-dark-blue);   
    padding: 1rem 0;   
    position: relative;   
}  

.attribution a {   
    text-decoration: none;  
    font-weight: 900;  
    color: var(--orange);  
}  

::-webkit-scrollbar {  
    display: none;  
}  


@media screen and (max-width: 460px) { 
    .wrapper{
        padding-inline: 24px;
    }
    .card{
        padding: 1.3rem;
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
}
    .icon__container{
        padding: 0.8rem;
    }
    .icon{
        width: 0.8rem;
    }
    .card__title{
        margin-top: 1.45rem;
        font-size: 1.35rem;
    }
    .description{
        margin-top: 0.75rem;
        font-size: 0.875rem;
        line-height: 160%;
    }
    .rating{
        margin-top: 1.5rem;
    }
    .rating .rating__item{
        width: 42px;
        height: 42px;
        font-size: 0.85rem;
    }
    a.button{
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
}